@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 174, 0);
}

h1 {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    color: #212121;
}

#display-div {
    border: 1px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    background-color: #2c2c2c;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #212121;
    width: 330px;
    height: 415px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    width: 290px;
    height: 300px;
    gap: 2px;
}

.button {
    font-size: 20px;
    padding: 20px 25px;
    border: 1px solid rgb(102, 102, 102);
    background-color: rgb(102, 102, 102);
    color: white;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.2s;
}

.button:hover {
    background-color: aquamarine;
    color: #212121;
    border-color: aquamarine;
}

#history, #display {
    display: flex;
    margin: 3px;
    width: 300px;
    height: 30px;
    justify-content: flex-end;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

#history {
    font-size: 20px;
    color: white;
}

#display {
    font-size: 25px;
    color: #60A07F;
}

#divide {
    padding: 20px;
}

